<ng-container *ngIf="movie$ | async as movie; else loadingRef">
  <div class="item mb-5">
    <div class="row g-3 g-xl-0">
      <div class="col">
        <h3 class="title mb-1">
          <a class="text-link" [routerLink]="['/movie', movie.id]">
            {{ movie.title }}
          </a>
        </h3>
        <div class="meta mb-1">
          <span class="date">Published {{ movie.created | dateAgo }}</span>
        </div>
        <div class="intro">
          {{ movie.openingCrawl }}
        </div>
        <a
          *ngIf="!hideReadMore"
          class="text-link"
          [routerLink]="['/movie', movie.id]"
        >
          Read more &rarr;
        </a>
      </div>
      <!--//col-->
    </div>
    <!--//row-->
  </div>
</ng-container>

<ng-template #loadingRef>
  <ngx-skeleton-loader
    [theme]="{ height: '18px', marginBottom: 0, marginTop: 5, width: '150px' }"
  ></ngx-skeleton-loader
></ng-template>
