<article class="character-post px-3 py-5 p-md-5">
  <div
    *ngIf="character$ | async as character"
    class="container single-col-max-width"
  >
    <header class="character-post-header">
      <h2 class="title mb-2">{{ character.name }}</h2>
    </header>

    <div class="character-post-body">
      <h5>Height</h5>
      <p>{{ character.height }}</p>
      <h5>Mass</h5>
      <p>{{ character.mass }}</p>
      <h5>Hair Color</h5>
      <p>{{ character.hairColor }}</p>
      <h5>Skin Color</h5>
      <p>{{ character.skinColor }}</p>
      <h5>Eye Color</h5>
      <p>{{ character.eyeColor }}</p>
      <h5>Birth Year</h5>
      <p>{{ character.birthYear }}</p>
      <h5>Gender</h5>
      <p>{{ character.gender }}</p>
      <h5 class="mb-3">Movies</h5>
      <ul>
        <li *ngFor="let movie of character.movies">
          <app-movie-card
            [movieId]="movie"
            [hideReadMore]="true"
          ></app-movie-card>
        </li>
      </ul>
    </div>
  </div>
  <!-- //container -->
</article>
